body {
    background-color: pink;
}

.user-list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

h2 {
    border-bottom: 1px solid #000;
}

button {
    cursor: pointer;
}

.btns {
    margin-top: 1rem;
}

.user {
    border: 1px solid;
    padding: 1rem;
    overflow-wrap: anywhere;
    width: 25%;
}
